<mat-form-field [style]="selectOneListBoxEntity!.styleContenedor">
  <mat-label>{{ selectOneListBoxEntity!.nombre }}</mat-label>
  <mat-select [class]="selectOneListBoxEntity?.columnClasses?.replaceAll(',', ' ')"> 
   @for(colMostEntry of selectOneListBoxEntity?.columnasMostrablesSeleccionadas?.[0] | keyvalue; track colMostEntry.key) {
      @let opcion = colMostEntry.value;
      @if (selected(opcion)) {
        <mat-option [value]="opcion" selected>{{ opcion }}</mat-option>
      } @else {
        <mat-option [value]="opcion">{{ opcion }}</mat-option>
      }
    }
  </mat-select>
</mat-form-field>