<mat-form-field [style]="selectOneListBoxEntity!.styleContenedor">
  <mat-label>{{ selectOneListBoxEntity!.nombre }}</mat-label>
  <mat-select [class]="selectOneListBoxEntity?.columnClasses?.replaceAll(',', ' ')">
   @for(colMostEntry of selectOneListBoxEntity!.columnasMostrablesSeleccionadas | keyvalue; track colMostEntry.key) {
      @let opcion = colMostEntry.value;
      @if (selected(opcion)) {
        <mat-option [value]="opcion?.string" selected>{{ opcion?.string }}</mat-option>
      } @else {
        <mat-option [value]="opcion?.string">{{ opcion?.string }}</mat-option>
      }
    }
  </mat-select>
</mat-form-field>