<div style="display: inline-flex; flex-direction: row; width: calc(100% - 10px);">
  <span [class]="matLabelClasses">{{ selectInPutDateEntity?.nombre }}</span>
  <mat-form-field [class]="'base-select-input-date-field ' + matInputClasses" [style]="selectInPutDateEntity!.styleContenedor" subscriptSizing="dynamic">
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="dateValue"
      (ngModelChange)="updateDateValue($event)"
      [disabled]="selectInPutDateEntity?.readOnly === 'true'"
      [style]="selectInPutDateEntity?.style"
      [class]="selectInPutDateEntity?.columnClasses?.replaceAll(',', ' ')"
    />
    <mat-hint>AAAA-MM-DD</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>