<mat-form-field [style]="inPutTextAreaEntity!.styleContenedor">
  <mat-label>{{ inPutTextAreaEntity?.nombre }}</mat-label>
  <textarea
    matInput
    [placeholder]="inPutTextAreaEntity!.nombre"
    [required]="inPutTextAreaEntity?.obligatorio === 'true'"
    [readonly]="inPutTextAreaEntity?.readOnly === 'true'"
    [style]="inPutTextAreaEntity?.style"
    [value]="inPutTextAreaEntity?.valor?.['']"
    [class]="inPutTextAreaEntity?.columnClasses?.replaceAll(',', ' ')"
  ></textarea>
</mat-form-field>
