<div class="rich-text-container" [style]="sanitizedContainerStyle()">
  <mat-label>{{ inPutRichTextEntity?.nombre }}</mat-label>
  <div
    class="rich-text-field"
    [style]="sanitizedStyle()"
    [class]="inPutRichTextEntity?.columnClasses?.replaceAll(',', ' ')"
  >
    @if (isBrowser && editor) {
      <ckeditor
        class="rich-text-editor"
        [config]="editorConfig"
        (ready)="onReady($event)"
        (change)="onEditorChange($event)"
        [editor]="editor"
        [data]="editorData"
        [disabled]="inPutRichTextEntity?.readOnly === 'true'"
      />
    }
    @if (!isBrowser || !editor) {
      <textarea
        matInput
        class="rich-text-textarea"
        [value]="editorData"
        [disabled]="inPutRichTextEntity?.readOnly === 'true'"
        placeholder="Rich text editor loading..."
        rows="4"
      >
      </textarea>
    }
  </div>
</div>
