@if (selectOneListBoxEntity?.visible === 'true') {
  <mat-form-field class="base-select-one-list-box-field" [style]="selectOneListBoxEntity!.styleContenedor">
    <mat-label>{{ selectOneListBoxEntity!.nombre }}</mat-label>
    <mat-select
      [value]="selectedValue"
      (valueChange)="updateValue($event)"
      [panelClass]="'frm-purple-select-panel'"
      [class]="selectOneListBoxEntity?.columnClasses?.replaceAll(',', ' ')"
    >
      @for (opcion of options; track opcion.value) {
        @if (selected(opcion)) {
          <mat-option [value]="opcion?.value" selected>{{ opcion?.label }}</mat-option>
        } @else {
          <mat-option [value]="opcion?.value">{{ opcion?.label }}</mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
}
													<!--<select
															class="comboField"
															[disabled]="!diligenciable || asBool(componente.readOnly)"
															[ngModel]="$any(getComponentValue(componente))"
															(ngModelChange)="setComponentValue(componente, $event)">
															@for (item of getSelectItems(componente); track item.label + item.value) {
																<option [value]="item.value">{{ item.label }}</option>
															}
														</select>-->