<div class="base-select-one-radio-field" [style]="selectOneRadioEntity?.styleContenedor">
    <mat-label class="label-select-one-radio" >{{ selectOneRadioEntity!.nombre }}</mat-label>
	<mat-radio-group [aria-label]="selectOneRadioEntity!.nombre" [value]="selectedValue" (change)="updateValue($event.value)">
      @for (opcion of radioOptions; track opcion.value) {
		<mat-radio-button [value]="opcion.value" [checked]="selected(opcion)">{{ opcion.label }}</mat-radio-button>
      }
    </mat-radio-group>
  </div>


														<!--<div class="radio-group">
															@for (item of getSelectItems(componente); track item.label + item.value) {
																<label>
																	<input
																		type="radio"
																		[name]="componentKey(componente)"
																		[value]="item.value"
																		[checked]="getComponentValueAsString(componente) === item.value"
																		[disabled]="!diligenciable || asBool(componente.readOnly)"
																		(change)="setComponentValue(componente, item.value)" />
																	<span>{{ item.label }}</span>
																</label>
															}
														</div>-->