  <div style="display: inline-flex; flex-direction: row; width: calc(100% - 10px);">
    <span [class]="matLabelClasses">{{ selectOneRadioEntity?.nombre }}</span>
	<mat-radio-group [class]="matInputClasses" [style]="selectOneRadioEntity?.style" [aria-label]="selectOneRadioEntity!.nombre" [value]="selectedValue" (change)="updateValue($event.value)">
      @for (opcion of radioOptions; track opcion.value) {
		<mat-radio-button [value]="opcion.value" [checked]="selected(opcion)">{{ opcion.label }}</mat-radio-button>
      }
    </mat-radio-group>
  </div>


														<!--<div class="radio-group">
															@for (item of getSelectItems(componente); track item.label + item.value) {
																<label>
																	<input
																		type="radio"
																		[name]="componentKey(componente)"
																		[value]="item.value"
																		[checked]="getComponentValueAsString(componente) === item.value"
																		[disabled]="!diligenciable || asBool(componente.readOnly)"
																		(change)="setComponentValue(componente, item.value)" />
																	<span>{{ item.label }}</span>
																</label>
															}
														</div>-->