@if(selectOneRadioEntity!.visible === "true"){
<div [style]="selectOneRadioEntity!.styleContenedor">
  <mat-label>{{ selectOneRadioEntity!.nombre }}</mat-label>
  <mat-radio-group aria-label="Seleccione una opción" [value]="selectOneRadioEntity!.valor['']" >
      @for(opcion of radioOptions; track opcion.value) {
        @if (selected(opcion)) {
          <mat-radio-button [value]="opcion.value" checked>{{ opcion.label }}</mat-radio-button>
        } @else {
          <mat-radio-button [value]="opcion.value">{{ opcion.label }}</mat-radio-button>
        }
      }
   </mat-radio-group>
 </div>
}