<mat-form-field class="base-inputtextarea-field" [style]="inPutTextAreaEntity!.styleContenedor" subscriptSizing="dynamic">
  <mat-label>{{ inPutTextAreaEntity?.nombre }}</mat-label>
  <textarea
    matInput
    [placeholder]="inPutTextAreaEntity!.nombre"
    [required]="inPutTextAreaEntity?.obligatorio === 'true'"
    [readonly]="inPutTextAreaEntity?.readOnly === 'true'"
    [style]="inPutTextAreaEntity?.style"
    [value]="valorInput"
    (input)="updateValue($any($event.target).value)"
    [class]="inPutTextAreaEntity?.columnClasses?.replaceAll(',', ' ')"
  ></textarea>
</mat-form-field>
														<!--<textarea
															class="textAreaField"
															[disabled]="!diligenciable || asBool(componente.readOnly)"
															[ngModel]="$any(getComponentValue(componente))"
															(ngModelChange)="setComponentValue(componente, $event)"></textarea>-->