<div class="tableDetailsEntity" [style]="tableDetailsEntity?.styleContenedor">
  <br />
  <div class="actionButtons">
    <span
      >Filas por página:
      <input matInput type="number" [value]="rowsPerPage" min="1" class="rowsInput"
    /></span>
    <button class="actionButton" (click)="search()">
      <span class="material-icons">search</span>
    </button>
    <button class="actionButton" (click)="addRow()">
      <span class="material-icons">add</span>
    </button>
  </div>
  <div class="table" [style.--grid-columns]="getGridColumns()">
    <div class="row header">
      @for (headerColumn of headerColumns; track headerColumn) {
        <span class="cell">{{ headerColumn }}</span>
      }
      <span class="cell">Acciones</span>
    </div>
    @for (row of tableDetailsEntity?.columnas; track $index; let rowIndex = $index) {
      <div class="row">
        @for (columnIndex of getColumnIndexes(row); track columnIndex) {
          <span class="cell">
            @if (editingRowIndex === rowIndex) {
              <input
                matInput
                type="text"
                class="cellInput"
                [value]="getCellValue(row, columnIndex)"
                (input)="updateCellValue(row, columnIndex, $any($event.target).value)"
              />
            } @else {
              {{ getCellValue(row, columnIndex) }}
            }
          </span>
        }
        <span class="cell">
          @if (editingRowIndex === rowIndex) {
            <button class="actionButton" (click)="saveRow()">
              <span class="material-icons">save</span>
            </button>
          } @else {
            <button class="actionButton" (click)="editRow(row)">
              <span class="material-icons">edit</span>
            </button>
          }
          <button class="actionButton" (click)="deleteRow(row)">
            <span class="material-icons">delete</span>
          </button>
        </span>
      </div>
    }
  </div>
  <br />
</div>
