<div [style]="inPutTextEntity!.styleContenedor" [class]="inPutTextEntity?.styleClassContenedor">
    <span [class]="matLabelClasses">{{ inPutTextEntity?.nombre }}</span>
  
  <mat-form-field [class]="'base-inputtext-field ' + matInputClasses" [style]="inPutTextEntity!.style"  subscriptSizing="dynamic">  
    <mat-label [class]="matLabelClasses">{{ inPutTextEntity?.nombre }}</mat-label>|
    <input
      matInput
      [placeholder]="inPutTextEntity!.nombre"
      [required]="inPutTextEntity?.obligatorio === 'true'"
      [readonly]="inPutTextEntity?.readOnly === 'true'"
      [style]="inPutTextEntity?.style"
      [value]="valorInput"
      [class]="inPutTextEntity?.claseEstilo"
    />
  </mat-form-field>
</div>